<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Ensighten" verbose="5"  parallel="tests" thread-count="5">   
	<test name="Test1">
	    <parameter name="browser" value="firefox"/>		
			<classes>
			     <class name="com.ensighten.tests.GridTests" />
			</classes>	
	</test>
<!--
	<test name="Test2">
	    <parameter name="browser" value="chrome"/>		
			<classes>
			     <class name="com.ensighten.tests.GridTests" />
			</classes>
	</test>
	
	<test name="Test3">
	    <parameter name="browser" value="iexplore"/>		
			<classes>
			     <class name="com.ensighten.tests.GridTests" />
			</classes>
	</test>
  -->
</suite>
